.ico {
		display: inline-block;
		background-image: url(~@assets/images/sprites.png?v=1593652920000);
		background-size: 99px 98px;
	}
			.ico-1{
			width: 32px;
			height: 48px;
			background-position: 0px 0px;
		}
			.ico-2{
			width: 32px;
			height: 48px;
			background-position: -34px 0px;
		}
			.ico-3{
			width: 27px;
			height: 48px;
			background-position: 0px -50px;
		}
			.ico-4{
			width: 31px;
			height: 48px;
			background-position: -68px 0px;
		}