.scrollBox {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    touch-action: none;
    user-select: none;

    .scroll-box {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            background: -webkit-linear-gradient(top, transparent 0px, rgba(15, 15, 103, .85) 100%)
        }
    }


    .scroll-box-content {
        position: relative;
        min-height: 100%;
    }

    .scroll-box-content2 {
        position: relative;
        height: 100%;
    }

    .bak {
        width: 100%;
        height: 100%;
        display: block;
        background: -webkit-linear-gradient(top, transparent 10px, #111f63 11px),
            -webkit-linear-gradient(left, transparent 10px, #111f63 11px);
        background-size: 11px 11px;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(0);
        opacity: 0;
        transform-origin: top center;
        animation: border-ani .75s ease-in-out forwards;
    }

    .border {
        display: block;
        border: 1px solid #183f8b;
        position: absolute;
        animation: border-ani .3s ease-in-out forwards;
        transform: scale(0);
        opacity: .6;
        z-index: 10;
    }


    .line {
        width: 16px;
        height: 15px;
        border: 3px solid #0149a9;
        display: block;
        position: absolute;
        z-index: 20;
        animation: border-ani-opacity .3s ease-in-out forwards 5;
    }

    .border-1 {
        height: 100%;
        left: 0;
        top: 0;
        transform-origin: bottom;
    }

    .border-2 {
        width: 100%;
        left: 0;
        top: 0;
        transform-origin: left;
        animation-delay: .3s;
    }

    .border-3 {
        height: 100%;
        right: 0;
        top: 0;
        transform-origin: top;
        animation-delay: .6s;
    }

    .border-4 {
        width: 100%;
        right: 0;
        bottom: 0;
        transform-origin: right;
        animation-delay: .9s;
    }


    .line-1 {
        border-right: none;
        border-bottom: none;
        left: 0;
        top: 0
    }

    .line-2 {
        border-left: none;
        border-bottom: none;
        right: 0;
        top: 0
    }

    .line-3 {
        border-left: none;
        border-top: none;
        right: 0;
        bottom: 0
    }

    .line-4 {
        border-right: none;
        border-top: none;
        left: 0;
        bottom: 0
    }
}


@keyframes border-ani {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes border-ani-opacity {
    0% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}