.linear-gradient {
  background-image: linear-gradient(transparent, rgba(20, 41, 111, 1));
}

.jkBox {
  width: 100%;
  height: 100%;
  position: relative;
  // overflow: hidden;
  touch-action: none;
  user-select: none;
  // padding: 15px;

  .scroll-box {
    width: 100%;
    height: 100%;
    position: relative;
    // overflow: hidden;
    overflow: visible;

    // &::after {
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   z-index: -1;
    //   background: -webkit-linear-gradient(
    //     top,
    //     transparent 0px,
    //     rgba(15, 15, 103, 0.85) 100%
    //   );
    // }
  }

  .scroll-box-content {
    position: relative;
    min-height: 100%;
  }

  .scroll-box-content2 {
    position: relative;
    height: 100%;
    // display: grid;
    // padding: 5px;
  }

  .bak {
    width: 100%;
    height: 100%;
    display: block;
    @include t(background-image, k26);
    background-size: 11px 11px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
    opacity: 0;
    transform-origin: top center;
    animation: border-ani 0.75s ease-in-out forwards;
  }

  .border {
    display: block;
    border: 1px solid transparent;
    @include t(border-color, k27);
    position: absolute;
    animation: border-ani 0.3s ease-in-out forwards;
    transform: scale(0);
    opacity: 0.6;
    z-index: 10;
  }

  .line {
    width: 16px;
    height: 15px;
    border: 3px solid transparent;
    @include t(border-color, k28);
    display: block;
    position: absolute;
    z-index: 20;
    animation: border-ani-opacity 0.3s ease-in-out forwards 5;
  }

  .border-1 {
    height: 100%;
    left: 0;
    top: 0;
    border-right: none;
    transform-origin: bottom;
  }

  .border-2 {
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: none;
    transform-origin: left;
    animation-delay: 0.3s;
  }

  .border-3 {
    height: 100%;
    right: 0;
    top: 0;
    border-left: none;
    transform-origin: top;
    animation-delay: 0.6s;
  }

  .border-4 {
    width: 100%;
    right: 0;
    bottom: 0;
    border-top: none;
    transform-origin: right;
    animation-delay: 0.9s;
  }

  .line-1 {
    border-right: none;
    border-bottom: none;
    left: 0;
    top: 0;
  }

  .line-2 {
    border-left: none;
    border-bottom: none;
    right: 0;
    top: 0;
  }

  .line-3 {
    border-left: none;
    border-top: none;
    right: 0;
    bottom: 0;
  }

  .line-4 {
    border-right: none;
    border-top: none;
    left: 0;
    bottom: 0;
  }
}

@keyframes border-ani {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes border-ani-opacity {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}