.Select {
    // z-index: 1110;
    user-select: none;
    display: flex;
    align-items: center;
    position: relative;

    &>* {
        color: #fff
    }


    .label {
        width: 80px;
        padding-left: 15px;
        margin-right: 15px;
        color: #9dbae3;
        font-size: 16px;
        text-align: right;
        height: 36px;
        line-height: 36px;
        transform: translateY(-1px);
        user-select: none;
        touch-action: none;
    }

    button {
        width: 100%;
        font-size: 16px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #fff;
        appearance: none;
        outline: none;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding: 0;

        img {
            margin-left: 5px;
            transform: rotate(0);
            transition: all .75s ease-in-out;
        }

        &.active img {
            transform: rotate(180deg);
        }
    }

    .xiala {
        position: absolute;
        width: calc(100% - 222px);
        left: 54.2%;
        transform: translateX(-50%) translateY(-25px);
        top: 100%;
    }

    .sanjiao {
        position: absolute;
        left: 47%;
        top: -8px;
    }

    ul {
        overflow-y: auto;
        overflow-x: hidden;
        background: #0B0C3E;
        border-radius: 2px;
        text-align: left;

        li {
            transition: all .25s ease-in-out;
            padding: 10px 0;
            cursor: pointer;
        }

        li:hover,
        li.active {
            background: rgba(30, 81, 167, 1)
        }
    }

    .vue-treeselect {
        width: 242px;
        height: 36px;
        display: flex;
        flex: 1;
        /deep/ .vue-treeselect__menu {
            background: #0B0C3E;
            border: none;
        }

        /deep/ .vue-treeselect__option--highlight {
            background: rgba(30, 81, 167, .25);
        }

        /deep/ .vue-treeselect__option--selected {
            font-weight: normal;
            background: rgba(30, 81, 167, .25);
        }

        /deep/ .vue-treeselect__label {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        /deep/ .vue-treeselect__control {
            background: transparent;
            border: none;
            border-radius: 0;
            height: 36px;
            line-height: 36px;
            background: rgba(78, 141, 226, .15);

            .vue-treeselect__menu-container {}

            .vue-treeselect__input-container {
                height: auto;
            }

            .vue-treeselect__input {
                height: auto;
                color: #fff;
            }

            .vue-treeselect__placeholder,
            .vue-treeselect__single-value {
                color: #9dbae3;
                top: 0;
            }

            .vue-treeselect__single-value {
                color: #9dbae3;
            }
        }
    }
}